
body{
    font-family:"Roboto",sans-serif;
    width: 500px ;
    height: 300px;
    animation-name: calc(2);
    background-color: palegreen;
    text-align: center;
}
.intro{
    background-color: blueviolet;
    color: brown;
    border-radius: 20px;color: blue;
    text-align: center;
}
p{ 
    margin-left: 10px;
    margin-right: 10px ;
    color: brown;
    border: 10px solid;color:purple;
}
a{
    display: inline;
}